# Ignore node_modules
node_modules/

# Ignore environment files
.env

# Ignore GridFS database dump files
*.gridfs
*.gridfs.*
*.gfs
gridfs-example/package.json
gridfs-example/package-lock.json

# Ignore temporary files
*.log
*.tmp
*.bak

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore npm debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build and output directories
dist/
build/
